<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RSG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <userSettings>
    <RSG.My.MySettings>
      <setting name="optBckgrd" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="optClip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="optBigInt" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="optBound" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="optGlue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="optRndMethod" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="optCheckUpdatesOnLoad" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="version" serializeAs="String">
        <value>2.1</value>
      </setting>
      <setting name="scrollErrorShown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dictFirstLtrUp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dictUseSpace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dictUsePunc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dictDispStat" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dictAppendNoise" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dictDir" serializeAs="String">
        <value />
      </setting>
      <setting name="dictDirExists" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="optShowStatus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dictUseAlliterations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="dictFirstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dictThreadTask" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="dictRndMethod" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="srchHeavyStatistics" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="firstTime" serializeAs="String">
        <value>True</value>
      </setting>
    </RSG.My.MySettings>
  </userSettings>
</configuration>
